<app-entity-page-top title="Account {{ entity.id }}"></app-entity-page-top>

<div class="row">
  <div class="col-2 font-weight-bold">ID</div>
  <div class="col">{{ entity.id }}</div>
</div>
<div class="row">
  <div class="col-2 font-weight-bold">Name</div>
  <div class="col">{{ entity.name }}</div>
</div>
<div class="row">
  <div class="col-2 font-weight-bold">Mail</div>
  <div class="col">{{ entity.mail }}</div>
</div>
<div class="row">
  <div class="col-2 font-weight-bold">Enabled</div>
  <div class="col">{{ entity.enabled ? 'yes' : 'no' }}</div>
</div>
<div class="row">
  <div class="col-2 font-weight-bold">Internal</div>
  <div class="col">{{ entity.internal ? 'yes' : 'no' }}</div>
</div>
<div class="row" *ngIf="(roleNames$ | async) as roleNames">
  <div class="col-2 font-weight-bold">Roles</div>
  <div class="col">
    <div *ngFor="let name of roleNames">{{ name }}</div>
  </div>
</div>

<app-entity-page-bottom [entity]="entity" [isForm]="false"></app-entity-page-bottom>
