<h3>Update password</h3>

<ng-container *ngIf="!success; else successMessage">
  <form id="user-update-password-form" #passwordUpdate="ngForm" (ngSubmit)="onSubmit(passwordUpdate.form)">
    <div class="form-group">
      <label for="password">New Password</label>
      <input class="form-control" type="password" id="password" name="password" [(ngModel)]="model.password" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">
        Update
      </button>
    </div>
  </form>
</ng-container>

<ng-template #successMessage>
  <h4>Success</h4>
  <p>Now you can use your new password</p>
</ng-template>
